* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
*:not(i) {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-weight: 400;
}
header {
  position: fixed;
  width: 100%;
  background-color: #ee6c4d;
  padding: 3rem 5rem;
  z-index: 5;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  font-size: 1.8rem;
  text-decoration: none;
}

nav a#logo {
  color: #293241;
  font-weight: 700;
}
nav ul a {
  color: #f7ede2;
  font-weight: 600;
}
nav ul a:hover {
  border-bottom: 2px solid #ffffff;
}
section#home {
  height: 50vh;
  display: grid;
  place-items: center;
}
h1 {
  font-size: 4rem;
}
#ham-menu {
  display: none;
}
nav ul.active {
  left: 0;
}
@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  header {
    padding: 2.2rem 5rem;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  #ham-menu {
    display: block;
    color: #ffffff;
  }
  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }
  nav ul {
    background-color: black;
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
}
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  header {
    padding: 2rem 3rem;
  }
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
  z-index: 2;
}
.card {
  background-color: #293241;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  width: 95%;
  margin: 0 auto;
}
.container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
.card1 > .container:after {
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}
.card2 > .container:after {
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}
.card3 > .container:after {
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.details {
  padding: 20px 10px;
}
.details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

/* search bar */

.search-field {
  /* this class is for input field, if in your code its different, just substitute the class name '.search-field' */
  padding: 10px 15px;
  min-width: 55%;
  font-size: 1rem;
  line-height: 1.5em;
  color: #373d41;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5c5c7;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  flex-grow: 1;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-submit {
  /* this class is for submit button, if in your code its different, just substitute the class name '.search-submit' */
  background-color: #1a1a1a;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  white-space: normal;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  outline: 0;
  padding: 14px 24px 13px;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 6px;
  border-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-form .input-group {
  text-align: center;
}

/* fixed css */

#logo {
  font-size: 2.5rem;
}

.card {
  cursor: pointer;
  overflow: hidden;
}
/*
.card:hover {
  transform: scale(1.05); 
  -webkit-transform: scale(1.05); 
  -moz-transform: scale(1.05); 
  -o-transform: scale(1.05); 
  transition: all 0.3s ease-in-out; 
} */
